{% extends "filter/layout.html" %}
{% block body %}
  <div class="container p-5 d-flex justify-content-center">
    <div class="card text-center" style="width: 48rem;">
      <img class="card-img-top" src="{{ src }}" alt="Image">
      <div class="card-body">
        <p class="card-text">Image</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row px-auto">
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto">Grayscale</button>
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto">Sepia</button>
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto">Mirror Reflection</button>
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto">Water Reflection</button>
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto">Rotate Left</button>
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto">Rotate Right</button>
    </div>
    <div class="row px-auto">
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto">Colour Inversion</button>
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto">Blur</button>
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto">Edge Detection</button>
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto" disabled>-</button>
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto" disabled>-</button>
      <button type="button" class="btn btn-outline-dark btn-lg col-2 my-1 mx-auto" disabled>-</button>
    </div>
    <div class="row px-auto">
      <button type="button" class="btn btn-outline-danger btn-lg col-6 my-1">Quit</button>
      <button type="button" class="btn btn-outline-success btn-lg col-6 my-1">Save</button>
    </div>
  </div>
{% endblock %}
